.container {
    color: aqua;
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 15px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .select {
    color: black;
    background-color: aqua;
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 5px;
  }